@using RaftWeb.Services;
@using RaftShared;
@inject RaftService service;
@inject BalanceService balanceService;
@inject BalanceConverter converter;
@page "/"

<PageTitle>Account Dashboard</PageTitle>

<h1>Hello, User!</h1>

<EditForm Model="@this" class="g-2" OnValidSubmit="LoadBalance">
  <label for="username" class="form-label">Username:</label>
  <div class="row">
    <div class="col-auto">
      <InputText id="username" class="form-control" @bind-Value="username" />
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary">View Balance</button>
    </div>
  </div>
</EditForm>

@if (username is not null)
{
  <p class="mt-4">Your balance is: @((userBalance == null) ? "N/A" : $"${userBalance:0.00}")</p>

  <div class="row g-2">
    <div class="col-md-5 col-lg-4">
      <EditForm Model="@this" OnValidSubmit="HandleDeposit">
        <label for="depositAmount" class="form-label">Deposit Amount:</label>
        <div class="row">
          <div class="col">
            <InputNumber id="depositAmount" class="form-control" @bind-Value="depositAmount" min="0.00" />
            <ValidationMessage For="@(() => depositAmount)" />
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-success">Deposit</button>
          </div>
        </div>
      </EditForm>
    </div>

    <div class="col-md-5 col-lg-4 offset-lg-2 offset-md-1">
      <EditForm Model="@this" OnValidSubmit="HandleWithdrawal">
        <label for="withdrawalAmount" class="form-label">Withdrawal Amount:</label>
        <div class="row">
          <div class="col">
            <InputNumber id="withdrawalAmount" class="form-control" @bind-Value="withdrawAmount" min="0.00" />
            <ValidationMessage For="@(() => withdrawAmount)" />
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-danger">Withdraw</button>
          </div>
        </div>
      </EditForm>
    </div>
  </div>
}

@code {
  private string username;
  private decimal? userBalance { get; set; }
  private decimal depositAmount;
  private decimal withdrawAmount;
  private Data lastData;

  private async Task LoadBalance()
  {
    var result = await service.StrongGet(balanceService.GetKey(username));
    lastData = result;
    userBalance = balanceService.GetBalance(result);
  }

  private async Task HandleDeposit()
  {
    if (depositAmount > 0)
    {
      await balanceService.Deposit(userBalance, depositAmount, username, lastData);
      depositAmount = 0;
      await LoadBalance();
    }
  }

  private async Task HandleWithdrawal()
  {
    if (withdrawAmount > 0)
    {
      var newBalance = converter.BalanceToJson((userBalance ?? 0) - withdrawAmount);
      await service.TryUpdate(balanceService.GetKey(username), lastData.Value, newBalance, lastData.LogIndex);
      withdrawAmount = 0;
      await LoadBalance();
    }
  }
}
