@using RaftShared;
@using RaftWeb.Models;
@using RaftWeb.Services;
@inject RaftService service;
@inject ProductService productService;
@inject CartService cartService;
@inject OrderService orderService;
@page "/order"

<EditForm Model="@this" class="g-2" OnValidSubmit="Load">
  <label for="username" class="form-label">Username:</label>
  <div class="row">
    <div class="col">
      <InputText id="username" class="form-control" @bind-Value="username" />
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</EditForm>

@if (username is not null)
{

  <div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <h3>Products</h3>
      <div class="list-group">
        @foreach (var product in Products)
          {
            @if (product.Quantity is not null && product.Quantity > 0)
            {
              <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <div>
                  <div class="mb-1 fs-5">@product.Name</div>
                  <p class="mb-1">Price: @product.Cost.ToString("C")</p>
                </div>
                <div>
                  <button class="btn btn-primary" @onclick="() => AddToCart(product)">Add to Cart</button>
                  <div class="small text-center">@product.Quantity remaining</div>
                </div>
              </div>
            }
          }
        </div>
      </div>
      <div class="col-md-4">
        <div class="fs-3">Cart</div>
        <ul class="list-group mb-3">
          @foreach (var item in Cart.Items)
          {
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <div>
                <div class="fw-bold">@item.Name</div>
                <div class="text-muted small">Quantity: @item.Quantity</div>
              </div>
              <div class="my-auto">
                <span>@item.Cost.ToString("C")</span>
              </div>
              <div class="my-auto">
                <button class="btn btn-outline-danger px-2 py-0" @onclick="() => RemoveFromCart(item)">x</button>
              </div>
            </li>
          }
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (USD)</span>
            <strong>@TotalPrice.ToString("C")</strong>
          </li>
        </ul>
        <div class="text-center">
          <button class="btn btn-primary" @onclick="() => Checkout()">Checkout</button>
        </div>
      </div>
    </div>
  </div>
}

@code {
  private string username;
  private List<Product> Products = new();
  private Cart Cart = new();
  private decimal TotalPrice => Cart.Items.Sum(item => item.Cost * (item.Quantity ?? 1));
  private Data lastCartData;

  private async Task Load()
  {
    Cart.Username = username;
    Products = productService.GetProducts();
    foreach (var product in Products)
    {
      var result = await service.StrongGet(productService.GetKey(product));
      product.Quantity = productService.LoadQuantity(result);
    }

    var cartResult = await service.StrongGet(cartService.GetKey(username));
    lastCartData = cartResult;
    if (cartResult.LogIndex != -1)
    {
      Cart = cartService.JsonToCart(cartResult.Value);
    }
    StateHasChanged();
  }

  private async Task AddToCart(Product product)
  {
    await cartService.AddToCart(Cart, product, lastCartData);
    await Load();
  }

  private async Task RemoveFromCart(Product product)
  {
    await cartService.RemoveFromCart(Cart, product, lastCartData);
    await Load();
  }

  private async Task Checkout()
  {
    await orderService.AddOrder(Cart);
    await cartService.ClearCart(Cart, lastCartData);
    await Load();
  }
}
